body {
	width: 100%;
	padding:0;
	margin:0 auto;
	font-family:arial;

	
}
.header {	
	display:block;
	width:100%;	
}

.menu {
	display:inline-block;
	background-color:#7FFFD4;
	height:50px;
	width:100%;
	margin-top:0;
	margin-bottom:0;	
	padding-left:0;
}	
.menu a {
	display:inline-block;
	color:black;
	text-decoration:none;
	padding-top:10%;
	height:30px;		
}
.menu li { 
	display:inline-block;
	list-style:none;		
	font-size: 18;
	padding-left:10%;
}



.text {	
	padding-left:10%;
	background-color:#FFDAB9;
	padding-right:10%;
}
h1 {
	margin-top:0;
	text-align:center;
}
.dis {
	display:block;
	text-align:center;
}
.t td{
	padding:30px;
}
.place {
	text-align:center;
}

.vvod{
	
	text-align:center;
}
.kino {
	text-align:center;
}
.kino td{
	padding-left:100px;
}
.week {
	display:block;
	padding-left:15%;
}
.week li{
	display:inline-block;
	list-style:none;		
	font-size: 18;
	padding-left:20%;
}

.time {
	display:block;
	padding-left:40%;
}

.zal {
	display:block;
	text-align:center;
}


.footer {
	display:inline-block;
	width:100%;
}

.bottom { 
	margin:0;
	color:black;
	margin-left:5%;
	height:180px;
	display:block;
	float:left;
	margin-top:2%;
	
}
.bottom a{
	display:block;
	text-decoration:none;
}
.bottom li { 
	padding-top:3%;
	list-style:none;
	 text-transform: capitalize;
}

h1 {
	padding-top:2%;
}
#cf {
  position:relative;
  height:300px;
  width:500px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
